{% extends "layout.html" %}

{% block title %}{{article.title}}-{{site.name}}{% endblock %}

{% block header %}
<div class="middlebar">
    <div class="middlebar-inner clearfix" style="width: 1170px;">
        <div class="pull-left logo-box">
            <a href="/" class="logo-link">
                <img src="/public/logo.png" class="logo">
            </a>
        </div>
        <div class="pull-left chinese-tag">
            <a href="/" target="_blank">首页</a>
            /
            <a href="/category/{{article.category.englishName}}" target="_blank">{{article.category.name}}</a>
            /
            <span class="text">正文</span>
        </div>
        <div class="pull-right">
            {% include 'common/search.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="article-container clearfix">
    <div class="pull-left index-left"></div>
    <div class="pull-left index-middle">
        <div class="pull-left article-content" id="app">
            <div class="article-box">
                <h1 class="article-title">{{article.title}}</h1>
                <div class="article-sub">
                    <span>{{article.source.sourceName}}</span>
                    <span>{{article.createdAt|formatDate('YYYY-MM-DD HH:mm')}}</span>
                </div>
                <div class="article-content">
                    {{article.content|safe}}
                    <div style="font-size: 12px;color: #ccc;">
                        {% if article.author%}
                        <span>作者：{{article.author}}</span>
                        {% endif %}
                        {% if article.collecturl %}
                        <a href="{{article.collecturl}}" style="color: #ccc;" target="_blank">查看原文</a>
                        {% endif %}
                    </div>
                </div>
                <div>本站所有信息均来自互联网，倘若您发现本站有侵权或不当信息，请与本站联系，经本站核实后将尽快修正！</div>
            </div>
        </div>
        <div class="pull-left article-content">

        </div>
    </div>
    <div class="pull-right index-right"></div>
</div>
{% endblock %}

{% block script %}

{% endblock %}