{% extends "admin/layout.html" %}

{% block title %}
 友情链接
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<section class="content-header">
    <h1>用户列表 </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-tachometer"></i> 仪表盘</li>
      <li>用户列表</li>
    </ol>
</section>
<section class="content" id="app">
  <div class="box box-default">
    <div class="box-body">
      <form action="" method="post" class="form-inline">
          <div class="form-group form-group-sm">
              <label for="">手机号：</label>
              <input type="text" class="form-control">
          </div>
          <div class="form-group">
              <button class="btn btn-sm btn-primary">查询</button>
          </div>
      </form>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 200px;">ID</th>
                    <th style="width: 200px;">手机号</th>
                    <th>媒体</th>
                    <th>状态</th>
                    <th style="width: 160px;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in rows">
                    <td v-text="item.id"></td>
                    <td v-text="item.phone"></td>
                    <td v-text="item.userName"></td>
                    <td v-text="item.active==1?'正常':'禁用'"></td>
                    <td>
                        <button @click="isactive(item)" class="btn btn-xs btn-link" v-text="item.active==1?'禁用':'启用'">禁用</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  <!-- /.modal -->
</section>
{% endblock %}

{% block script %}
<script>
    var  data = {{res|safe}};
    var vm = new Vue({
        el: '#app',
        data: {
            rows: data.rows,
            phone: '',
            password: '',
            edititem: ''
        },
        methods: {
          isactive:function(item) {
                ajaxpost('/admin/users/active',{id:item.id,active:item.active?0:1},function(res){
                  if(res.code == '200'){
                    $.modals('success','操作成功');
                        $('#msg').on('hidden.bs.modal',function(){
                            location.href = '/admin/users_list'
                        })
                  }
                })
            }
        }
    })

</script>
{% endblock %}