{% extends "admin/layout.html" %}

{% block title %}
添加文章
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        添加文章
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-tachometer"></i> 仪表盘</li>
      <li>文章</li>
      <li class="active">添加</li>
    </ol>
</section>
<section class="content">
  <div class="box box-default">
    <form action="" method="post" class="form-horizontal">
      <div class="modal-body">
        <div class="form-group">
          <label for="" class="col-xs-2 control-label">文章标题：</label>
          <div class="col-xs-8">
            <input type="text" name="title" class="form-control" data-validate="required:文章标题不能空">
            <div class="field text-danger"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-2 control-label">文章来源：</label>
          <div class="col-xs-8">
            <select name="sourceId" style="width: 200px;display: inline-block;" class="form-control" data-validate="required:文章来源不能空">
              <option value="">请选择</option>
              {% for item in source %}
                <option value="{{item.id}}" >{{item.sourceName}}</option>
              {% endfor %}
            </select>
            <div class="field text-danger"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="source" class="col-xs-2 control-label">分类：</label>
          <div class="col-xs-8">
            <select name="category" id="" style="width: 200px;display: inline-block;" class="form-control" data-validate="required:分类不能空">
              <option value="">选择分类</option>
              {% for item in category %}
                <option value="{{item.id}}" >{{item.name}}</option>
              {% endfor %}
            </select>
            <span class="field text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-xs-2 control-label">文章内容：</label>
          <div class="col-xs-8">
            <div id="editor"></div>
            <textarea name="content" id="text1" class="hide"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default" onclick="JavaScript:window.history.back()">返回</button>
            <button type="button" onclick="save()" class="btn btn-primary">提交</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/public/admin/js/wangEditor.js" ></script>
<script type="text/javascript">
  var E = window.wangEditor
  var editor = new E('#editor')
  editor.customConfig.uploadImgServer = '/upload?_csrf=' + $.cookie('csrfToken')  // 上传图片到服务器
  var $text1 = $('#text1')
  editor.customConfig.onchange = function (html) {
      // 监控变化，同步更新到 textarea
      $text1.val(html)
  }
  editor.create();

  function save(){
    if($('form').submits()){
      $.ajax({
        url: '/admin/article/post_add',
        type: 'post',
        cache: false,
        data:$('form').serialize(),
        beforeSend: function (XMLHttpRequest) {
            XMLHttpRequest.setRequestHeader("x-csrf-token", $.cookie('csrfToken'));
        },
        success: function (res) {
          if(res.code === '200'){
            $.modals('success', '保存成功');
            $('#msg').on('hidden.bs.modal', function (e) {
              window.location.href = '/admin/article/list';
            });
          }
        },
      })
    }
  }
</script>
{% endblock %}