{% extends "layout.html" %}

{% block title %}{{site.name}}{% endblock %}

{% block content %}
    <div class="index-container clearfix">
        <div class="pull-left index-channel">
            {% include "users/leftmenu.html" %}
        </div>
        <div class="pull-left index-content" id="app">
            <div>
                <h2>文章编辑</h2>
            </div>
            <div class="form-inline">
                
            </div>
        </div>
        <div class="pull-right index-right-bar">
          
        </div>
    </div>
{% endblock %}

{% block script %}
  <script>

  </script>
{% endblock %}