{% extends "layout.html" %}

{% block title %}{{site.name}}{% endblock %}

{% block content %}
    <div class="index-container clearfix">
        <div class="pull-left index-channel">
            {% include "users/leftmenu.html" %}
        </div>
        <div class="pull-left index-content" id="app">
            <div>
                <h2>用户信息</h2>
            </div>
            <div class="form-inline" style="margin-top: 20px;">
                <div class="form-group">
                    <label for="" class="col-2 control-label">极客号：</label>
                    <div>
                        <span class="form-control-static">{{source.sourceName}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-2 control-label">介绍：</label>
                    <div>
                        <span class="form-control-static">{{source.sourceIntroduce}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-2 control-label">logo：</label>
                    <div>
                        <img src="{{source.mediaLogo}}" style="height: 80px;width: 80px;border: #ccc solid 1px;" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right index-right-bar">
          
        </div>
    </div>
{% endblock %}

{% block script %}
  <script>

  </script>
{% endblock %}