<!DOCTYPE html>
<html lang="zh">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="favicon.ico"> 
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/public/admin/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/admin/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/public/admin/css/skin-blue.css">
  <link rel="stylesheet" href="/public/admin/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/admin/css/index.min.css">
  {% block head %}{% endblock %}
</head>
<body class="skin-blue">
  <!-- 内容 -->
  <div class="content-wrapper">
    {% block content %} {% endblock %}
  </div>
  <!-- 全局js -->
  <script src="/public/admin/js/jquery.min.js"></script>
  <script src="/public/admin/js/bootstrap.min.js"></script>
  <script src="/public/admin/js/jquery.slimscroll.min.js"></script>
  <script src="/public/admin/js/adminlte.min.js"></script>
  <script src="/public/admin/js/jquery.cookie.min.js"></script>
  <script src="/public/admin/js/vue.min.js"></script>
  <script src="/public/admin/js/common.js"></script>
  {% block script %}{% endblock %}
</body>
</html>