<div class="search-wrapper">
  <form target="_block" action="/search" method="get">
      <div class="input-group input-group-lg form-group" style="margin-bottom: 0;">
        <input type="text" name="key" style="font-size: 14px;background-color: #f4f5f6;" class="form-control" data-validate="required:不能空" placeholder="搜索站内资讯">
        <span class="input-group-btn">
          <button class="btn btn-danger" style="width: 80px;" type="submit">搜索</button>
        </span>
      </div>
    </form>
</div>